<div class="todos">
    <form (submit)="addToDo()">
        <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input"
        [(ngModel)]="inputTodo"
        >
        <input type="submit" class="todo-submit" value="Add ToDo">
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{(todo.completed ? 'done' : '')}}">
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
        <button class="delete" (click)="deleteToDo(i)">Remove</button>
    </div>
</div>